.myvideo-circle {
    border-radius: 50%;
    object-fit: cover;
    }

    .ovideo-circle{
    border-radius: 50%;
    object-fit: cover;
}


/* .ovideo {
        clip: rect(30px, 30px, 30px, 30px);
      } */




/* .myvideo{
    width: 700px;
    height: 700px;
    border-radius: 100%;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg); 
    -webkit-border-radius: 100%; 
    -moz-border-radius: 100%;
   }
   
   .myvideo-circle {
   border-radius: 50%;
   object-fit: cover;
   } */
